---
title: Alexis Guinebretière
---
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <p>AG</p>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">YO</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">WORKS</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">SKILLS</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">CONTACT</a>
  </div>
</div>

<div id="home">
  <div class="home-content">
    <div>
      <h1>Hi There, I'm Alexis.</h1>
      <h3> I work on internet stuff, from pier-to-pier boats rental marketplace to African streaming app. As a product manager, I aiming at creat websites experiences that people will love </h3>
      <%= image_tag "macbook.png", id:"mac" %>
      <%= image_tag "coffee.png", id:"coffee" %>
    </div>
      <div>
        <p> Lately, I have learn to code and design @LeWagon (Ruby, JQuery, SQL, HTML, CSS, Sketch...) while finishing my Entrepreneurship and Management Master Degree (Kedge Business School). I hqve recently create q couple of side projects ans I aù now looking for a full-time Product Management position in a mission-driven startup. </p>
      </div>
    <p> scroll, scroll, scroll </p>
 </div>
</div>

